@import url('https://fonts.googleapis.com/css?family=Martel+Sans&display=swap');

.p-font {
    font-family: 'Martel Sans', sans-serif;
}
.projects-page {
    color: white;
    // background-color:#45A29E;
    background-image: url("../../assets/b5.jpg");
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 100px;

    &__box {
        width: 800px;
        display: flex;
        justify-content: center;
        margin-top: 24px;
    }

}

.projects {
    width: 230px;
    margin-right: 20px;
}