@import url('https://fonts.googleapis.com/css?family=Martel+Sans&display=swap');

.contact {
    color: white;
    font-family: 'Martel Sans', sans-serif;
    background-image: url("../../assets/b5.jpg");
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    // padding-top: 60px;

    &__font {
        font-family: 'Martel Sans', sans-serif;
    }
}